@use '../resources/variables';
@use '../resources/mixins';

footer{
    @include mixins.padding-default(160px, 80px);
    margin-top: 52px;
    address{
        padding-bottom: 24px;
        padding-top: 24px;
        border-top: solid 2px variables.$color-zinc-800;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .contacts{
            display: flex;
            gap: 16px;
            a{
                @include mixins.font(bold, 24px, variables.$color-zinc-200);
                @include mixins.hover-default();
            }
        }
        p{
            @include mixins.box-reset();
            @include mixins.font(normal, 18px, variables.$color-zinc-100);
            font-style: normal;
            span{
                @include mixins.hover-default();
            }
        }
    }
}

@media only screen and (max-width: variables.$breakpoint-large-laptop){
    footer{
        @include mixins.padding-default(80px, 80px);
    }
}

@media only screen and (max-width: variables.$breakpoint-small-laptop){
    footer{
        address{
            justify-content: flex-end;
            .contacts{
                flex-direction: row-reverse;
            }
            p{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: variables.$breakpoint-tablet){
    footer{
        @include mixins.padding-default(40px, 40px);
    }
}

@media only screen and (max-width: variables.$breakpoint-cellphone){
    footer{
        margin-top: 48px;
        @include mixins.padding-default(32px, 32px);
    }
}