@use '../resources/variables';
@use '../resources/mixins';
 
header{
    @include mixins.padding-default(16rem, 8rem);
    margin-bottom: 1.2rem;
    nav{
        padding-bottom: 2.4rem;
        padding-top: 2.4rem;
        border-bottom: solid 2px variables.$color-dark;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            @include mixins.font(normal, 2rem, variables.$color-light);
            @include mixins.hover-default();
        }
        p{
            @include mixins.font(normal, variables.$font-size-normal, variables.$color-light);
            @include mixins.box-reset();
            @include mixins.hover-default();
            display: none;
        }
        ul{
            @include mixins.list-reset();
            @include mixins.box-reset(true);
            gap: 4rem;
            a{
                @include mixins.font(normal, variables.$font-size-normal, variables.$color-light);
                @include mixins.hover-default();
                text-decoration: none;
            }
        }
    }
}

@media only screen and (max-width: variables.$breakpoint-large-laptop){
    header{
        @include mixins.padding-default(8rem, 8rem);
    }
}

@media only screen and (max-width: variables.$breakpoint-small-laptop){
    header{
        @include mixins.padding-default(6rem, 6rem);
        nav{
            justify-content: center;
            span{
                display: none;
            }
            ul{
                width: 100%;
                justify-content: space-between;
            }
        }
    }
}

@media only screen and (max-width: variables.$breakpoint-tablet){
    header{
        @include mixins.padding-default(4rem, 4rem);
        nav{
            justify-content: flex-end;
            ul{
                display: none
            }
            p{
                display: block
            }
        }
    }
}

@media only screen and (max-width: variables.$breakpoint-cellphone){
    header{
        margin-bottom: 0.8rem;
        @include mixins.padding-default(3.2rem, 3.2rem);
        nav{
            justify-content: center;
        }
    }
}