@use '../resources/variables';
@use '../resources/mixins';

#projects{
    .card{
        p{
            margin-top: 0.8rem;
            margin-bottom: 0px;
            @include mixins.font(normal, variables.$font-size-small, variables.$color-light);
        }
        .links{
            display: flex;
            align-items: center;
            gap: 2rem;
            .button{
                cursor: pointer;
                letter-spacing: 0.5px;
                padding: 0.8rem 1.6rem;
                border-radius: 0.8rem;
                background-color: variables.$color-dark;
                text-decoration: none;
                @include mixins.font(normal, variables.$font-size-normal, variables.$color-light);
                transition: all 500ms ease;
                &:hover{
                    background-color: variables.$color-emphasis;
                    color: variables.$color-dark;
                }
            }
            .link{
                @include mixins.underline-link();
                @include mixins.font(normal, variables.$font-size-normal, variables.$color-light);
                @include mixins.hover-default();
            }
        }
    }
    span{
        align-self: center;
        margin-top: 4rem;
        a{
            @include mixins.underline-link();
            @include mixins.font(normal, variables.$font-size-larger, variables.$color-light);
            @include mixins.hover-default();
        }
    }
}

@media only screen and (max-width: variables.$breakpoint-tablet){
    #projects{
        span{
            margin-top: 3.2rem;
        }
    }
}

@media only screen and (max-width: variables.$breakpoint-cellphone){
    #projects{
        span{
            margin-top: 2rem;
        }
    }
}