@use './variables';

body{
    display: grid;
    grid-template-areas: 
    "aside header"
    "aside main"
    "aside footer";
    grid-template-columns: 360px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: variables.$color-zinc-900;
    font-family: 'DM Sans', sans-serif;
}

header{
    grid-area: header;
}

.aside-space{
    grid-area: aside;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

body::-webkit-scrollbar{
    width: 8px;
}
  
body::-webkit-scrollbar-track{
    background: variables.$color-zinc-800
}
  
body::-webkit-scrollbar-thumb{
    background-color: variables.$color-green-500;
    border-radius: 20px;
}

::selection{
    background-color: #4ade80ab;
}