$color-zinc-950: #141416;
$color-zinc-900: #18181b;
$color-zinc-800: #27272a;
$color-zinc-200: #e4e4e7;
$color-zinc-100: #f4f4f5;
$color-green-500: #00df5e;

$transition-default: all 320ms ease;

$breakpoint-tablet: 768px;
$breakpoint-small-laptop: 1024px;
$breakpoint-large-laptop: 1440px;