$color-aside: #141416;
$color-body: #18181b;
$color-dark: #27272a;
$color-medium: #e4e4e7;
$color-light: #f4f4f5;
$color-emphasis: #00df5e;
$color-select: #4ade80ab;

$transition-default: all 320ms ease;

$font-size-small: 1.6rem;
$font-size-normal: 1.8rem;
$font-size-larger: 2rem;
$font-size-title: 3.6rem;

$breakpoint-cellphone: 535px;
$breakpoint-tablet: 768px;
$breakpoint-small-laptop: 1024px;
$breakpoint-large-laptop: 1440px;